{
  "env": {
      "browser": true,
      "es2021": true
  },
  "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "prettier",
      "airbnb",
      "airbnb/hooks"
  ],
  "parserOptions": {
      "ecmaFeatures": {
          "jsx": true
      },
      "ecmaVersion": 12,
      "sourceType": "module"
  },
  "plugins": [
    "react",
    "prettier"
  ],
  "rules": {
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 2,
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "arrow-parens": ["error", "as-needed"]
    // "indent": ["error", "tab"]
    //   "prettier/prettier": [
    //       "error",
    //       {
    //           "printWidth": 80,
    //           "trailingComma": "es5",
    //           "semi": false,
    //           "jsxSingleQuote": true,
    //           "singleQuote": true,
    //           "useTabs": true,
    //           "tabWidth": 2

    //       }
    //   ]
  }

}
